<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 mx-md-auto">
      <div class="card shadow-lg p-3 rounded border-0">
        <h2 class="text-center font-weight-bolder">Welcome</h2>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
            </div>
            <div class="row">
              <div class="col-md-6">
                <% if devise_mapping.rememberable? %>
                  <div class="form-group">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>
              </div>
              <div class="col-md-6 text-right">
                <small>
                  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
                </small>
              </div>
            </div>

            <div class="actions form-group mt-2">
              <%= f.submit "Log in", class: 'btn btn-success btn-block' %>
            </div>
          <% end %>
          <div class="links text-center">
            <small>
              Don't have an account?<%= link_to "Sign Up", new_registration_path(resource_name) %>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

